TRANSLATE_PROMPT="Translate text with [] and rewrite [{}] to fit constraints for generating a bonk avatar using gpt-image-1"
# Configure the OpenAI API key for interacting with the OpenAI API
OPENAI_API_KEY=
# Set the Twitter username for login
TWITTER_USERNAME=
# Set the Twitter password for login
TWITTER_PASSWORD=
# Set the Twitter password for login
TWITTER_EMAIL=
